= semantic_form_for (@local) do |form|
  = form.input :nome, :label => 'Nome'
  = form.input :endereco, :label => 'Endereço'
  = form.input :cidade, :label => 'Cidade'
  = form.input :tipo, :label => 'Tipo'
  = form.submit 'Salvar'