= semantic_form_for (@local) do |form|
  = form.input :nome, :label => 'Nome'
  = form.input :endereco, :label => 'Endereço'
  = form.input :cidade, :label => 'Cidade'
  = form.input :tipo, :label => 'Tipo'
  = form.input :proprietario_id, as: :select, collection: Proprietario.all.map { |prop| [prop.nome, prop.id] }, prompt: false, :label => "Proprietário"
  = form.submit 'Salvar'