%p#notice= notice
%p
  %b Nome:
  = @local.nome
%p
  %b Endereço:
  = @local.endereco
%p
  %b Cidade:
  = @local.cidade
%p
  %b Tipo:
  = @local.tipo
%p
  %b Proprietário:
  = @local.proprietario.nome

= link_to 'Editar', edit_local_path(@local)
= link_to 'Voltar', locais_path