= semantic_form_for [@musica] do |form|
  = form.input :nome, :label => 'Nome'
  = form.input :duracao, :label => 'Duração'
  = form.input :bpm, :label => 'bpm'
  = form.input :estilo, :label => 'Estilo'
  = form.submit 'Salvar'