%h1 Gerenciador de Eventos
%table
	%tr
		%th Nome
		%th Data
		%th Local
		%th Organizador
		%th Repertório
		-@eventos.each do |evento|
			%tr
				%td= evento.nome
				%td= evento.data
				%td= evento.local.nome
				%td= evento.organizador.nome
				%td= evento.repertorio.nome
				
				%td= link_to 'Show', evento
				%td= link_to 'Editar', edit_evento_path(evento)
				%td= link_to 'Excluir', evento, method: :delete, data: {confirm: "Tem certeza que irá deletar #{evento.nome}?"}
= link_to 'Adicionar Evento', new_evento_path
