%p#notice= notice
%p
  %b Nome:
  = @evento.nome
%p
  %b Data:
  = @evento.data
%p
  %b Local:
  = @evento.local.nome
%p
  %b Organizador:
  = @evento.organizador.nome
%p
  %b Repertório:
  = @evento.repertorio.nome

= link_to 'Editar', edit_evento_path(@evento)
= link_to 'Voltar', eventos_path