%h1 Gerenciador de Proprietários
%table
  %tr
    %th Nome
    %th Contato
    -@proprietarios.each do |proprietario|
      %tr
        %td= proprietario.nome
        %td= proprietario.contato
        %td= link_to 'Show', proprietario
        %td= link_to 'Editar', edit_proprietario_path(proprietario)
        %td= link_to 'Excluir', proprietario, method: :delete, data: { confirm: "Tem certeza que irá deletar #{proprietario.nome}?"}
%br
= link_to 'Adicionar Proprietário', new_proprietario_path